@model IEnumerable<Product>

@{
    ViewBag.Title = "Menu";
}

@functions {
    string GetDeleteModalId(Product prod)

    {

        return "#deleteModal" + prod.ProductId;

    }



    string GetModalId(Product prod)

    {

        return "deleteModal" + prod.ProductId;

    }

}

<h2>Menu</h2>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Stwórz nową pozycję w menu</a>

<div class="row">
    @foreach (Product prod in Model)
    {
        <div class="col-md-4">
            <form asp-action="delete" asp-controller="product" method="post">
                <input type="hidden" name="id" value="@prod.ProductId" />
                <div class="card" style="width: 18rem;">
                <img src="@Url.Content("~/images/" + prod?.Url_zdj)" class="card-img-top fixed-image-height" >
                    <div class="card-body">
                        <h5 class="card-title">@prod.Nazwa</h5>
                        <p class="card-text">@prod.Opis</p>
                        <p class="card-text">@prod.Cena.ToString("C")</p>
                        <p class="card-text">Dostępna Ilość: @prod.Ilosc</p>
                        <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit" asp-route-id="@prod.ProductId"><i class="bi bi-pencil-fill">Edytuj</i></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(prod)">
                            <i class="bi bi-trash">Usuń</i>
                        </button>
                        <div class="modal fade" id="@GetModalId(prod)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Czy na pewno chcesz usunąć @prod.Nazwa?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-danger">Usuń</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Powrót</a>
